<h2 id="requirements">Paginas</h2>
<div class="row">
    <div class="col-sm-6">
        <p class="lead">Menu de paginas</p>
        <ul class="lead">

            <li>
                <a href="/personagens">Personagens de Star wars</a>
            </li>

            <li>
                <a href="/planetas">Planetas de Star wars</a>
            </li>

        </ul>

    </div>

    <div class="col-sm-6">
        <blockquote class="lead">
            Aqui estão os paginas mais legais da galáxia!
        </blockquote>
    </div>
</div>